:root{
    --primary-color:#336fdf;
}

body{
    background-color: #ecececab;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    line-height: 1.5;
    color: #333;
}

li{
    list-style: none;
}

.date-clock{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    max-width: 80%;
    margin: 50px auto;
    padding: 50px;
    background-color: #1E1E24;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgb(87, 84, 84);
}

.date-clock h2{
    font-size: 1.75rem;
    font-style: oblique;
    color: #fff;
    margin: -10px auto 20px;
}

#date{
    position: relative;
    font-size: 1.25rem;
    color: #fff;
}

#clock{
    position: relative;
    font-size: 1.25rem;
    color: #fff;
}

#day{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#day li {
    margin-top: 15px;
    margin-right: 20px;
}

#city, #temp, #wind, #humidity, #description{
    position: relative;
    font-size: 1.25rem;
    color: #756c6c;
}

.analog-clock{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    width: 250px;
    height: 250px;
    border: 4px solid #d3bea6;
    border-radius: 50%;
    position: relative;
}

.hour-mark {
    position: absolute;
    /* width: 250px; */
    height: 2px;
    margin-right: 80%;
    background: #333;
    left: calc(50% - 2px); /* Posição horizontal ajustável conforme necessário */

}

#hours-hand, #minutes-hand, #seconds-hand {
    position: absolute;
    width: 45%;
    height: 3px;
    background: #333;
    margin-left: -45%;
    transform-origin: 100%;
    transform: translate(0%, -50%);
    transition-timing-function: steps(1, end);
}

#point{
    width: 7px;
    height: 7px;
    background: #333;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#minutes-hand {
    height: 1px;
    background: #666;
}
#seconds-hand {
    height: 1px;
    background: red;
}

.stock-datas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 80%;
    margin: 50px auto;
    padding: 50px;
    background-color: #d3bea6;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgb(87, 84, 84);
}

.stock-datas h2{
    font-size: 2.25rem;
    line-height: 1.5;
    color: #333;
    margin: 0px auto 30px;
}

table{
    border-collapse: collapse;
    width: 100%;
    color: #333;
    font-size: 1.5rem;
    text-align: left;
}

th{
    background-color: #ceab83;
    color: #fff;
    text-align: center;
}

tr:nth-child(even){
    background-color: rgb(228, 215, 199);
}
